<h1>Welcome to the Task Manager</h1>
<unordered list <ul> <a> <defines a hyperlink, href is the path where the link will go>
<ul>
    <li><a href="/tasks">Task Index</a></li>
    <li><a href="/tasks/new">New Task</a><li>
</ul>